[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
geocoder = "*"
haversine = "*"
numpy = "*"
autopep8 = "*"
markdown = "*"
sphinx = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
